.name_title {
  max-width: 1350px;
  display: flex;
  margin: 10px auto;
  color: #353e4e;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

.content_users {
  display: flex;
  flex-wrap: wrap;
  max-width: 1350px;
  min-height: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
