<div class="footer">
    <nav class="header_nav">
        <div class="header_nav_item" routerLink="">Главная</div>
        <div class="header_nav_item">О компании</div>
        <div class="header_nav_item">Каталог</div>
        <div class="header_nav_item">Запчасти</div>
        <div class="header_nav_item">Интерьер</div>
        <div class="header_nav_item">Стиль</div>
        <div class="header_nav_item">Партнеры</div>
    </nav>
    <div class="nav_icons">
        <img src="/assets/facebook.svg" alt="">
        <img src="/assets/whatsapp.svg" alt="">
        <img src="/assets/youtube.svg" alt="">
    </div>
</div>
