<div class="content-block">
    <h1 class="title">ДАННЫЕ ЮЗЕРА</h1>

    <form class="content-form" [formGroup]="form">
        <mat-form-field class="form-field">
            <mat-label>Имя:</mat-label>
            <input matInput type="text" placeholder="Введите имя..." formControlName="name">
            <mat-error *ngIf="form.controls['name'].hasError('minlength')&&!form.controls['name'].hasError('required')">
                Слишком короткое...
            </mat-error>
            <mat-error *ngIf="form.controls['name'].hasError('required')">Заполните поле!</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Введите email..." formControlName="email" />
            <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
                Введите действительный email!
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('required')">Заполните поле!</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Телефон</mat-label>
            <span matTextPrefix>+7 &nbsp;</span>
            <input matInput type="tel" placeholder="Введите номер телефона..." formControlName="phone" />
            <mat-error *ngIf="form.controls['phone'].hasError('phone') && !form.controls['phone'].hasError('required')">
                Введите номер телефона!
            </mat-error>
            <mat-error *ngIf="form.controls['phone'].hasError('required')">Заполните поле!</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Website</mat-label>
            <input matInput placeholder="Введите имя сайта..." formControlName="website" />
            <mat-error
                *ngIf="form.controls['website'].hasError('minlength') && !form.controls['website'].hasError('required')">
                Слишком короткое...
            </mat-error>
            <mat-error *ngIf="form.controls['website'].hasError('required')">Заполните поле!</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" formGroupName="company">
            <mat-label>Компания</mat-label>
            <input matInput placeholder="Введите имя компании..." formControlName="name" />
            <mat-error
                *ngIf="form.controls['company'].hasError('minlength') && !form.controls['company'].hasError('required')">
                Слишком короткое...
            </mat-error>
            <mat-error *ngIf="form.controls['name'].hasError('required')">Заполните поле!</mat-error>
        </mat-form-field>

        <div class="container-btn">
            <button class="btn" type="submit" (click)="submitForm()" mat-raised-button color="primary"
                [disabled]="form.invalid" matTooltip="создать">
                <mat-icon>person_add</mat-icon>
                СОЗДАТЬ
            </button>

            <button class="btn" type="submit" [mat-dialog-close]="" mat-raised-button color="warn"
                matTooltip="отменить">
                <mat-icon>close</mat-icon>
                ОТМЕНА
            </button>
        </div>
    </form>
</div>