.text {
  text-align: center;
  color: #f0ba4e;
  margin-top: 20px;
}

.content-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #8193a6;
  border-radius: 10px;
  padding: 15px 50px 30px;
  width: 170px;
  height: 320px;
  color: #f0ba4e;
  &:hover {
    background-color: #14161e;
    color: #f0ba4e;
  }
}

.user-card {
  margin-top: 15px;
  overflow-wrap: break-word;
}

p {
  &:hover {
    color: silver;
  }
}

.content-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #353e4f;
    color: #f0ba4e;
  }
}
